.kbg{
  height:100vh;
  background-size: 1290px 700px;
  width:100%;
  background-size: cover;
background-image: url("https://img.freepik.com/free-vector/white-background-with-triangle-patterns_1017-18410.jpg?w=900&t=st=1689055919~exp=1689056519~hmac=c545043c222e7154bda011c088bd89418548ea4dedfb0c698904f2923a78b8b6");
}
.newbox {
    background-color: transparent;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
  .updbutton{
    margin-left: 20px;
    height:30px;
  }