.bg{
    background-image: url("https://thumbs.dreamstime.com/z/modern-abstract-orange-tech-white-overlap-background-eps-vector-modern-abstract-orange-tech-white-overlap-background-160783382.jpg");
    background-repeat: no-repeat;
    height:100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.boxout{
margin-left: 430px;
padding-top: 3px;

}
a{
    text-decoration: none;
    color:black;

}
.error{
    font-size:13px;
    margin-left: 100px;
    color:red;
}
.box1{
    box-shadow: 0 0 10px black inset;
  background-color:	#D3D3D3;
  width: 390px;
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  background-size: 400px 400px;
  height:470px;
  text-align: center;
  border-style: outset;
}
.name{
    margin-left:32px;
}
.email{
    margin-left:37px;
}
.password{
    margin-left:2px;
}
.h1{
    font-variant: small-caps;
    margin-left: 30px;
    margin-top: 2px;
}
.g11{
    margin-top: 20px;
    height:50px;
    width:120px;
    border-radius: 12px;
    margin-left:30px;

}

input {
    border-radius: 10px;
    border: 2px solid #333;
    box-shadow: 0 0 10px #ff8533 inset;
    background-color: transparent;
    width:200px;
    height:30px;
  }
p{
    font-size: 20px;
}
.cotq{
    margin-left: 17px;
}